.har-nav {
    background-color: #2974B2;
    opacity: 0.7;
}

.quote {
    font-size: 20pt !important;
    font-weight: bolder !important;
}

.quote::before {
    content: open-quote;
}

.quote::after {
    content: close-quote;
}

.ray-quote {
    font-size: 1.9em !important;
    font-weight: bolder !important;
    text-align: center;
    color: #4a8dd0 !important;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0px 80px;
}

.ray-quote::before {
    content: open-quote;
}

.ray-quote::after {
    content: close-quote;
}

.back-vid {
    /* background-image: url(/static/dream_app/images/OLO2ED0.jpg); */
    /* background-image: url(/static/dream_app/images/full_court2.jpg); */
    background-color: gray;
    background-size: cover;
    padding-bottom: 25px;
    background-attachment: fixed;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mazu {
    width: 150px;
    /* display: blo ck; */
    margin-top: 25px;
}

.sub-row {
    /* height: 50px; */
    /* position: relative; */
    /* top: 100px; */
}

body {
    background: url('/static/dream_app/images/cloud_blue.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

/* .foot-bord {
    background: rgba(0, 0, 0, 0.5);
} */

.social {
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 0px 30px 0px 30px;
    /* margin-bottom: 20px; */
    margin-top: -2px;
}

#top-social>li {
    display: inline;
    float: right;
    margin-left: 30px;
}

#top-social img {
    width: 50%
}

a.nav-link {
    text-align: center;
}

#phone {
    /* display: inline-block; */
    font-size: 20px;
    color: #ffffff;
}

.social-bar {
    padding: 10px 10px 10px 10px;
    background: rgba(90, 90, 90, 0.4);
    margin-bottom: 30px;
}

.basket {
    width: 100%;
    height: 100%;
    background-image: url(/static/dream_app/images/hoop.png);
    background-size: 200%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* .basket::after{
    content: '';
    background-image: url(/static/dream_app/images/springz3.png);
    background-repeat: no-repeat;
    /* background-position: center; */

/* background-size: 200%;
background-attachment: absolute;
z-index: 1000;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
} */

*/ .social-l {
    float: left;
}

.social-r {
    float: right;
}

#social>p {
    display: inline;
}

#springz {
    width: 30rem;
    position: absolute;
    z-index: 0;
}

/* #team-pic {500px;
    width: 100%;
    margin-top: 50px;
    padding: 0;
} */

#social-links>ul li {
    display: inline;
}

#dreams_logo {
    height: 275px;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mage {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.center-block {
    display: block;
    margin-right: 0 auto;
    margin-left: 0 auto;
}

#pre-header {
    height: 35px;
    width: 100%;
    background-image: url('/static/dream_app/images/stars.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 200px;
    text-align: center;
    color: rgb(140, 178, 208);
    font-family: Open Sans;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid #95989A;
}

.career-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.cbox1 {
    background: yellow;
    width: 200px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-bottom: 20px; */
}

.cbox1:nth-last-of-type(n) {
    margin-bottom: 20px;
    margin-left: 10px;
}

#lefty {
    width: 85%;
    margin-top: 3.1rem;
    /* margin-bottom: 200px; */
    /* position: absolute; */
    /* top: 150px; */
    /* right: 20px; */
}

.event-desc::before {
    content: "Address:";
    color: Black;
}

.event-description {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    margin-top: 4rem;
    padding: 0 2rem 0 2rem;
    /* color: black; */
    text-align: center;
    background: #FCFCFD
}

#pre-header>h1 {
    font-size: 20px;
    margin-top: 6px;
}

.ball {
    width: 10%;
    display: inline;
}

.db {
    list-style: none;
    font-family: 'Luckiest Guy', cursive;
}

.db li {
    display: inline;
}

.bot {
    border-bottom: 10px solid #95989A;
    margin-bottom: 10px;
}

#social-links ul li {
    display: inline;
}

#woodgrain-backdrop {
    /* background-image: url(/static/dream_app/images/OLO2ED0.jpg); */
    background-image: url(/static/dream_app/images/full_court3.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    /* height: 750px; */
    background-repeat: no-repeat;
    padding: 50px 0px 50px 0px;
    min-height: 900px;
    border-bottom: 3px white solid;
}

#lefty-profile {
    display: inline-block;
    margin-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.links {
    /* background-color: #06053b; */
    border-collapse: collapse;
    height: 100px;
    position: relative;
    top: 40px;
}

.sb-slider {
    margin-top: 50px;
}

table {
    margin-top: 75px;
}

/* 
.home{
  position: relative;
  top:98px;
} */

#footer-logo {
    width: 90%;
    /* margin-top: 60px; */
}

.wrapper {
    position: relative;
    max-width: 840px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

.footer-links h1 {
    margin-left: 50px;
    font-size: 0.6em;
    color: #ffffff
}

.footer-links p {
    margin-left: 50px;
    font-size: 0.5em;
    color: #ffffff
}

.footer-sz {
    display: inline;
    color: white
}

.b-background {
    /* background-image: url('/static/dream_app/images/OLO2ED0.jpg'); */
    background-image: url(/static/dream_app/images/full_court.jpg);
    background-size: cover;
    /* position: static; */
    background-attachment: fixed
}

#myFooter {
    padding-top: 25px;
}

.about-contain {
    padding: 50px;
    background: rgba(3, 28, 37, 0.8);
    color: black;
    margin: 50px 0px;
    box-shadow: black 0px 10px 10px;
}

.fix-ball {
    /* margin: 0 auto; */
    width: 100%;
    /* position: relative; */
    margin-top: 10px;
}

/* .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

footer {
    /* bottom: 0px; */
    bottom: -85px;
    /* height: 60px; */
    position: relative;
    width: 100%;
    margin-top: 1cpx;
}

.social-links-f>ul li {
    display: inline;
    margin-right: 30px;
    /* color: hotpink */
}

.hov:hover {
    background-color: #2974B2;
    color: white;
}

.logo-s {
    width: 25px;
    height: 25px;
    margin-top: 50px;
    color: white;
}

.logo-s:hover {
    width: 28px;
    height: 28px;
    color: #2974b2;
}

a:hover {
    text-decoration: none;
}

/* p:hover {
    color: white;
    text-decoration: none;
} */

.sli-b {
    margin-top: 100px;
}

.counter {
    margin-top: 90px;
}

/* new */

.bg-dark {
    background-color: #ffffff !important;
}

.navbar-brand {
    color: #2974B2 !important;
    font-family: Open Sans;
}

.nav-link {
    color: #2974B2 !important;
    font-family: Open Sans, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Bebas Neue', sans-serif;
    /* margin-right: 50px; */
    width: 100%;
}

.nav-link:hover {
    color: white !important;
    /* margin-right: 70px; */
    background: rgba(3, 28, 37, 0.8)
}

.navbar-toggler {
    background-color: #011F4B !important;
    color: #2974B2
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item:hover {
    color: #000000!important;
}

#good {
    width: 500px;
    height: 900px;
    background-color: yellow;
}

.nav-link:hover {
    color: white!important;
}

/* .nav-item:hover {
    background-color: #2974b2!important;
} */

.back-drop {
    background: url('/static/dream_app/images/6611.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.harlem-media {
    /* background-image: url('/static/dream_app/images/OLO2ED0.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background: #000000;
    height: 390px;
}

.harlem-media iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.hd-media-content {
    margin-top: 0px;
    /* border-top: 5px #fff solid; */
    border-bottom: 7px #fff solid;
}

.push {
    margin-bottom: 70px;
}

/* We change this when working on the modal Aug 13th, 2019... from 1500 to 1003 */

#left-fanbox {
    margin-top: 150px;
    height: 100%;
    padding-top: 15px;
    /* padding-bottom: 30px; */
    z-index: 1;
    font-family: 'Luckiest Guy', cursive;
    /* background: white; */
    z-index: -1;
    box-shadow: black 0px 0px 10px;
    background: rgb(3, 27, 38);
    z-index: 0;
    border: #fff solid 1px;
}

#left-fanbox>h1 {
    font-family: Luckiest Guy, cursive;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

#left-fanbox>img {
    /* margin-bottom: 100px; */
    /* position: absolute;; */
    /* top: 0px; */
}

#left-fanbox>p {
    margin-top: 30px;
}

#news {
    margin-top: -500px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: blue;
    /* height: 50px; */
    border-radius: 5px;
    /* margin-left: 15px; */
    color: #ffffff !important;
    padding-top: 8px;
}

#news:hover {
    color: #fff;
    z-index: 1005;
}

#btn-newsletter {
    width: 300px;
    height: 30px;
    background-color: gray;
    text-align: center;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.about {
    width: 100%;
    height: 50px;
    background: #2974b2;
    /* text-align: center; */
    /* padding: 100px; */
    /* opacity: 0.7; */
    color: white;
    /* border-radius: 15px; */
    margin-top: 20px;
}

.about-content {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 925px; */
    background-color: #ffffff;
    padding: 50px 50px 50px 50px;
    width: 100%;
    /* opacity: 0.6; */
    /* margin-bottom: 50px; */
}

.about-content>p {
    font-size: 25px;
}

.about-txt {
    font-size: 30px;
    font-family: Open sans;
}

#harlem-group2 {
    width: 95%;
    position: sticky;
    top: 200px;
    /* border-radius: 10px; */
    box-shadow: 10px 10px 5px grey;
    border: 3px solid #fff;
    /* padding-left: 5px */
}

#harlem-group3 {
    background-image: url('/static/dream_app/images/white_hoop2.jpg');
    background-size: cover;
    background-position: center;
}

.shop {
    /* padding: 50px; */
    width: 100%;
    height: 445px;
    /* background: rgba(225, 225, 225, 0.3); */
    font-family: Luckiest Guy, cursive;
    display: block;
    position: relative;
}

.shop::after {
    content: '';
    background-image: url(/static/dream_app/images/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    opacity: 0.5;
    /* z-index: -1; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    /* width:100px */
}

.sponsor-shop {
    height: 900px;
    margin-top: 50px;
    padding: 0px 30px 0px 30px;
    /* min-height: 595px; */
    background: rgba(3, 28, 37, 0.8);
    font-family: Luckiest Guy, cursive;
    color: white;
    box-shadow: #000000 0px 0px 10px;
    margin-left: 20px;
    margin-right: 20px;
    /* padding-bottom: 20px; */
}

.shop-cs {
    /* position: relative; */
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateY(-50%); */
    /* position: fixed; */
    /* background-image:url(/static/dream_app/images/logo2.png) */
}

.sponsor-cs {
    position: relative;
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    transform: translateY(-50%);
}

.side-about {
    border-left: 5px;
}

.left-col {
    /* padding: 0px 50px 0px 50px; */
    font-size: 20px;
}

.left-col p {
    font-size: 18px;
}

.goals {
    /* width: 600px; */
    font-size: 16px;
    columns: blue;
}

.ps-top-to-bottom {
    position: relative;
    /* border-top: 3px solid #2974b2; */
}

.ps-top-to-bottom:before, .ps-top-to-bottom:after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2974b2), to(transparent));
    background-image: -webkit-linear-gradient(#2974b2, transparent);
    background-image: -moz-linear-gradient(#2974b2, transparent);
    background-image: -o-linear-gradient(#2974b2, transparent);
    background-image: linear-gradient(#2974b2, transparent);
    top: -3px;
    bottom: -3px;
    width: 3px;
}

.ps-top-to-bottom:before {
    /* left: -3px; */
}

.ps-top-to-bottom:after {
    /* right: -3px; */
}

.showtime {
    margin-left: 50px;
}

#cj {
    color: black;
    font-size: 50px;
    font-family: Open sans;
}

.video-media {
    display: block;
    margin-bottom: 40px;
    margin-top: 15px;
}

.cj-txt p {
    width: 100%;
    margin-top: 75px;
    font-size: 23pt;
    position: relative;
    /* right: 50px; */
    /* top: 40px; */
    /* margin-bottom: 100px; */
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    /* padding-bottom: 40px; */
    /* background-color: rgba(3, 28, 37, 1) */
    color: #ffffff;
}

.cj-txt p:hover {
    color: #2974B2;
}

.photo {
    padding: 50px 0px;
}

/* .cj-txt a: */

#cj-btn {
    /* background-color: black; */
    padding: 15px 10px 15px 0px;
    border-radius: 5px;
    font-size: 35pt;
    /* margin-bottom: 50px; */
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10px;
}

#contact {
    font-family: 'Bebas Neue', sans-serif;
    float: left;
    /* background-color: rgba(3, 27, 38, 0.8); */
    width: 70%;
    margin: 25px 50px;
    font-size: 11pt;
    /* padding-left: 300px; */
    color: white;
    font-size: 1.3rem;
    letter-spacing: 10px;
    box-shadow: #000 0px 0px 10px;
    padding: 50px;
    border: white 3px outset;
}

.head {
    position: static;
    top: 0;
}

#mob-push {
    margin-bottom: 100px;
}

.event-box {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    margin-bottom: 10rem;
    border: 3px outset white;
}

.event-sec {
    margin-bottom: -82px;
    background: rgba(3, 28, 37, 0.8);
    /* padding: 10px 0px 10px 0px !important;
    width: 100 !important; */
}

#date-border {
    width: 100%;
    background-color: #ffffff;
    vertical-align: top;
    font-size: 30px;
}

.style1 {
    font-family: 'Luckiest Guy', cursive;
    color: white;
}

.style2 {
    font-family: 'Luckiest Guy', cursive;
    color: #012ab3;
    /* vertical-align: middle; */
}

.time-location {
    /* padding:50px; */
    background-color: white;
    height: 300px;
    /* background-size: cover; */
    left: 0
}

.sponsor-border {
    padding: 0px 20px 0px 20px;
    font-family: 'Bebe Neue', sans-serif;
    font-size: 15pt;
    border-right: 1px #000000 solid;
    background: rgba(245, 245, 245, .6);
    line-height: 1.4;
    font-weight: 900;
}

.sponsor-border2 {
    padding: 0px 20px 0px 20px;
    font-family: 'Krona One', sans-serif;
    font-size: 10pt;
    /* border-right: 1px #ffffff solid; */
}

.vid {
    padding-left: 0;
    padding-right: 0;
    border: solid 1px #fff;
    background-color: black;
    box-shadow: 0 0 50px rgba(225, 225, 225, 0.6);
}

.shadow-box {
    width: 100%;
    /* background-image: url(/static/dream_app/images/OLO2ED0.jpg); */
    background-image: url(/static/dream_app/images/full_court.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* height: 200px; */
}

.sha {
    /* background-image: url(/static/dream_app/images/OLO2ED0.jpg); */
    background-image: url(/static/dream_app/images/full_court.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#shadow {
    /* border-bottom: 100px solid rgba(0, 0, 0, 0.9);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; */
}

#trapezoid {
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 100px;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vcenter2 {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.vcenter3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.l-center>h1 {
    display: inline-block;
    font-size: 20px;
    padding-top: 20px;
}

#hoop-left {
    background-image: url('/static/dream_app/images/white_hoop2.jpg');
    background-size: cover;
}

#hoop-right {
    background-image: url('/static/dream_app/images/white_hoop2.jpg');
    background-size: cover;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.half-court {
    background-image: url('/static/dream_app/images/blue-logo.png');
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

#event_list {
    background-color: rgba(225, 225, 225, 0.5)
}

.contactus {
    color: white;
}

.contact-bar {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin-top: 25px;
    border-left: 2px solid white;
}

.contact-bar a:link {
    color: white;
}

.contact-bar a:visited {
    color: white;
}

.contact-bar a:hover {
    color: red;
}

.contact-bar h1 {
    /* border-bottom: 2px white solid; */
    font-size: 30pt;
}

.contact-bar h4 {
    font-size: 18pt;
    margin-top: 50px;
    font-weight: bolder
}

.contact-message {
    color: white;
    font-size: 16pt;
    font-family: 'Bebas Neues', sans-serif;
}

.contact-message>p {
    font-family: 'Bebas Neue', sans-serif;
}

.contact-bar p {
    font-size: 14pt
}

.cj-btn-box {
    padding: 0px 0px 50px 0px;
    text-align: center;
}

.sexy-line {
    /* margin: 25px 0; */
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(225, 225, 225, 0.1)), to(rgba(225, 225, 225, 0.1)), color-stop(50%, white));
    width: 100%;
    display: block;
    margin-top: 30px
    /* float: right; */
}

.star-l {
    width: 350px;
    float: left;
}

.star-r {
    width: 350px;
    float: right
}

.p-name {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #256eb6;
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16pt;
}

/* .player-img {
    background-image: url('/static/dream_app/images/lefty-player.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.player-img2 {
    background-image: url('/static/dream_app/images/springz-player.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.player-img3 {
    background-image: url('/static/dream_app/images/pope-player.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.player-white {
    /* background: rgba(225, 225, 225, 0.3); */
    padding: 20px;
    /* padding-top: 50px; */
}

/* .player-img {
    border: 10px rgba(225, 225, 225, 0.7) solid;
    background: white;
} */

.player-img {
    border: 5px whitesmoke solid;
    background: white;
    box-shadow: #000000 0 49;
    /* box-shadow: -5px 5px rgba(0, 0, 0, .5); */
    box-shadow: 0px 10px 10px black;
    background: linear-gradient(0deg, #d0e0ea, #254F74);
}

.player-profile {
    color: #424242;
    border-left: white 1px solid;
}

.player-profile p {
    font-size: 18pt;
    font-weight: 400;
}

.player-profile h2 {
    font-size: 30pt;
    padding: 4px;
}

.boot {
    margin-bottom: 50px;
}

/* .roster {
    height: 52vh
} */

.roster h1 {
    /* border-bottom: 2px solid white; */
    color: #214F74;
    margin-bottom: 50px;
    text-align: center;
}

.player-profile>h2 {
    color: whitesmoke;
    color: whitesmoke;
    border-bottom: 1px solid white;
    margin-bottom: 19px;
    font-size: 45pt;
    background: linear-gradient(90deg, rgba(3, 27, 38, 0.8), transparent);
}

.player-profile>p {
    /* color: #224058; */
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    /* font-size: 45pt; */
    background: rgba(245, 245, 245, 0.7);
    padding: 5px;
}

.player-profile img {
    /* border: 10px rgba(225, 225, 225, 0.7) solid; */
}

.about-bheader {
    background-image: url('/static/dreams_app/images/white_hoop.jpg')
}

.founder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(3, 28, 37, 0.8);
    padding: 2rem;
    color: white;
    box-shadow: 0px 10px 10px black;
}

.founder h4 {
    color: white;
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    padding: 0.7rem;
    font-family: 'Rock Salt', cursive;
    font-size: 1.5rem;
    /* vertical-align: bottom; */
    margin-bottom: 0;
}

.founder p {
    color: white;
}

.founder-pic {
    /* background: linear-gradient(180deg, #d0e0ea, #254F74); */
    /* padding: 50px; */
    /* width: 50%; */
    /* display: block; */
    /* margin: auto; */
    /* margin-right: 1rem; */
    /* float: left; */
}

.dreams-font {
    font-family: 'Bebas Neue' sans-serif;
    color: rgba(3, 27, 38, 0.8);
    letter-spacing: 10px;
    /* background: linear-gradient(-90deg, rgba(245, 245, 245, 0.0), white, rgba(245, 245, 245, 0.0)); */
}

#topball {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mid {
    text-align: center;
    font-size: 25pt;
    font-weight: 900;
    font-family: 'Bebas Neue', sans-serif;
}

.parah p {
    text-align: center;
}

.video-header {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(90deg, transparent, #204f74e6, transparent);
    padding: 0px 0px;
    color: whitesmoke;
    /* width: 80%; */
}

/* modal section */

.vid-modal {
    position: absolute;
    background: linear-gradient(180deg, transparent, #031c25, rgba(3, 28, 37, .8));
    top: 375px;
    left: 50%;
    margin: 0 auto;
    z-index: 1;
    transform: translateX(-50%);
    display: initial;
    width: 100%;
    height: 70%;
}

#modal-font {
    text-align: center;
    color: whitesmoke;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10px;
    font-size: 3rem;
}

.vid-box {
    width: 100%;
    /* height: 400px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    /* vertical-align: middle; */
    padding: 0 10px;
    margin-right: 0 auto;
    box-shadow: black 0px 10px 25px;
    padding-bottom: 10px;
}

#front-video {
    width: 50rem;
    height: 25rem;
    border: 2px white solid;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    display: block;
}

#vexit {
    z-index: 1005;
    position: fixed;
    top: 0rem;
    right: 1rem !important;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#teamDream {
    position: relative;
    bottom: 0;
}

.pic-size {
    border: whitesmoke solid 5px;
    margin: 0px 15px 5px 0px;
    width: 20rem;
    background: linear-gradient(180deg, #ffffff, #254F74);
    float: left;
}

.event-hoop {}

.v-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.event-sub {
    background: #214c79;
    width: 100%;
    padding: 20px 0px;
    color: white;
    /* box-shadow: 0px 5px #3c6692; */
    font-family: 'Bebas Neue';
    letter-spacing: 10px;
    /* margin: 0 auto; */
    margin-top: 25px;
    border: 3px outset #3c6692;
    font-size: 2.25rem;
}

.calender-box {
    background: #ffffff;
    width: 80px;
    height: 100%;
    margin-top: 20px;
    /* float: left; */
}

.cal-content {
    position: absolute;
    right: 50%;
    transform: translateX(50%)
}

.month {
    height: 20px;
    background: red;
    text-align: center;
}

.date {
    position: relative;
    padding: 0.3rem;
}

.vs-img {
    /* width: 10rem; */
    height: 100%;
    /* border: 10px solid rgba(58, 71, 80, 0.5); */
}

.opp {
    /* display: flex; */
}

.team-play-vs {
    display: block;
    vertical-align: middle;
    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 50pt;
    color: rgba(245, 245, 245, 0.7);
}

/* .team-play-vs {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
} */

.team-play {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20rem;
}

.ads {
    background: rgb(54, 63, 128, 0.5);
    width: 100%;
    height: 50%;
}

.eventdesc>p {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 15px;
    text-align: center;
    color: white;
    padding: 2.0rem;
    font-size: 24pt;
    /* width: 900px; */
    margin: auto;
}

.year {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: white;
}

.t-font {
    font-size: 1.5rem;
}

.min-center {
    list-style-type: none;
    padding: 0;
}

.empty {
    background: rgba(3, 28, 37, 0.8);
    padding: 50px 0px;
}

.empty-img {
    opacity: 0.7;
    width: 19.8rem;
}

.white {
    color: white;
}

#cs {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30pt;
    color: rgb(239, 237, 237);
    text-align: center;
    background: rgba(3, 28, 37, 0.8);
    padding: 180px;
    box-shadow: 0px 25px 50px black;
}

.foot-bord {
    background: rgba(3, 28, 37, 0.8);
}

/* .nav-top > li > a {
    font-family: 'Bebas Neue', sans-serif;
} */

.hi>li>a {
    color: white;
    font-size: 13pt;
    font-family: 'Bebas Neue', sans-serif;
}

.about-intro {
    padding: 0;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, transparent, whitesmoke, transparent);
    box-shadow: black 0px 0px 10px;
}

.about-intro>h1 {
    font-size: 20pt;
    font-weight: 900;
}

.foot-title {
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 17pt;
}

#founder-title {
    color: #214F74;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48pt;
    text-align: center;
    letter-spacing: 10px;
    margin: 0 auto;
    background: linear-gradient(-90deg, rgba(245, 245, 245, 0.0), white, rgba(245, 245, 245, 0.0));
}

#showman {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: white;
    font-size: 25pt;
}

.no-x {}

.founder-font {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22pt;
    /* margin-top: 40px; */
}

.founder-bold {
    color: rgb(51, 55, 80);
    background: rgba(245, 245, 245, 0.5);
    padding: 0px 5px;
    font-weight: bolder;
}

.vid-a {}

#team-pic {
    margin-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56rem;
    box-shadow: rgba(255, 255, 255, .1) 0px 0px 100px;
    border: 3px outset #406a92;
    /* border: 10px outset #3f7ab5; */
    margin-bottom: 100px;
}

#team-pic:hover {
    width: 56rem;
    /* box-shadow: rgba(255, 255, 255, .5) 0px 0px 100px; */
    border: 3px outset whitesmoke;
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 100px;
}

.lg-tp {
    background: rgba(3, 28, 37, 0.8);
    /* margin-top: 169px; */
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    margin-bottom: -85px;
}

/* #team-border {
    border: 10px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  } */

.notice {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(245, 245, 245, .7);
    padding: 10px 10px;
    /* color: red */
}

.notice h5 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.notice p {
    width: 70%;
    margin: 0 auto;
}

.no-x {
    float: right;
    /* vertical-align: top; */
    margin: 5px;
    font-size: 10pts
}

.no-x:hover {
    cursor: pointer;
}

.hide-notice {
    display: inline-block;
}

.top-specs {
    background: white;
    height: 100%;
    /* background-image: url('/static/dream_app/images/12213.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Opens Sans', sans-serif;
}

.spec {
    background: white;
}

.button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(3, 28, 37, 0.8);
    color: whitesmoke;
    border: solid 1px white;
}

.button:hover {
    background-color: whitesmoke;
    color: rgba(3, 28, 37, 0.8);
    /* border: none; */
}

#specs-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 25px;
    font-size: 15pt;
    font-weight: bolder;
    letter-spacing: 5px;
}

#app {
    font-family: 'Bebas Neue', sans-serif;
}

#app>img {
    display: inline-block;
    padding: 0px 10px 10px 0px;
}

#app>h3 {
    /* color: white; */
    display: inline;
    color: whitesmoke;
    font-size: 30pt;
}

#app>p {
    display: inline-block;
}

#app>p>p {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 20pt;
}

.google-app {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#spec-heading {
    color: whitesmoke;
    font-size: 2.5rem;
    text-align: center;
}

#dare-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /* margin-top: 1.5rem; */
}

#dare-p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20pt;
    padding: 10px 5px;
    color: white;
}

.top-specs {
    /* background: rgba(3, 28, 37, 0.5); */
    background-image: url(/static/dream_app/images/hardwoodbasketball_bg.jpg);
    background-size: cover;
    height: 100%;
    text-align: center;
    border-bottom: white solid 3px;
    padding: 100px 0px;
}

.pad {
    padding: 20px;
    background: rgba(3, 27, 38, 0.8);
    min-height: 530px;
    margin-bottom: 3px;
    border: white 3px solid;
}

#app-pic {
    width: 13.5rem;
}

.min-center {
    text-emphasis: center;
}

#logo-push {
    margin-right: 100px;
}

.vid-main {
    background: rgba(3, 27, 38, 0.8);
    overflow-y: scroll;
    height: 637px;
}

.vid-list {
    background: #13283eeb;
    box-shadow: 0px 0px 50px;
    padding-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 637px;
}

.video-media {
    width: 80%;
    height: 500px;
    /* padding: 20px 40px 20px 20px; */
    margin: 0 auto;
    margin-bottom: 39px;
    /* border: 3px white solid; */
    margin-top: 35px;
    box-shadow: black 0px 13px 50px;
}

.list {
    padding: 5px;
    background: transparent;
    width: 100%;
    height: 100px;
    margin: 5px;
    border: white 2px solid;
    color: white;
    box-shadow: black 5px 5px 10px;
}

.list:hover {
    padding: 5px;
    background: rgba(3, 27, 38, 0.8);
    width: 100%;
    height: 100px;
    margin: 5px;
    border: white 2px solid;
}

#media-frame {
    /* border-bottom: white 1px solid; */
    /* border-top: white 2px solid; */
    /* border-left: white 3px solid; */
    /* border-right: white 3px solid; */
    /* overflow: hidden; */
    margin-top: 15px;
}

.vid-title {
    text-align: center;
    font-family: 'Bebe Neue', sans-serif;
    font-size: 12pt;
    font-weight: 800;
}

.vid-desc {
    font-size: 10pt;
    margin: 0 0 5px 0;
}

.vid-prebox {
    width: 25%;
    /* height: 25%; */
    border: white 1px solid;
    float: left;
    margin-right: 5px;
    padding: 5px;
    background: #000000bd;
}

.vid-time {
    font-size: 8pt;
    /* margin: 0 0 5px 0; */
}

.vid-bottom-desc {
    color: white;
    text-align: center;
    font-size: 16pt;
    font-family: 'Open Sans' sans-serif;
    margin: 0 0 50px 0;
}

.camp-img {
    display: block;
    margin: auto;
    box-shadow: 0px 0px 5px;
    /* width: 95% */
    width: 720px;
    border: outset 3px #fff
}

.camp-pic {
    margin-bottom: 50px;
}

.camp-btn {
    background: rgba(3, 28, 37, 0.8)!important;
    border: none;
    display: block;
    width: 150px;
    margin: auto;
}

.camp-btn:hover {
    background: #fff!important;
    color: rgba(3, 28, 37, 0.8)!important;
    /* border: rgba(3,28,37, 0.9) solid 1px; */
}

;
.camp-list {
    font-family: 'Bebas Neue', sans-serif !important;
    /* color: #2974B2, */
    box-shadow: #fff 0px 0px 10px;
    width: 70%;
}

.camp-list>h1 {
    font-family: 'Bebas Neue', sans-serif !important;
    color: #2974B2;
 }

.camp-list>h3 {
    font-family: 'Bebas Neue', sans-serif !important;
    color: #2974B2;
    font-size: 22pt;

}

.camp-detail {
    font-family: 'Bebas Neue', sans-serif;
}

.camp-detail>img {
    display: block;
    margin: 0 auto;
    /* box-shadow: #000 0px 0px 10px; */
    /* border: 3px outset rgb(3, 27, 38); */
    width: 100%
}

.camp-date {
    font-size: 22pt;
}

.camp-info {}

.camp-event>p {
    text-align: left;
    /* margin-top: 100px; */
    font-size: 15pt;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.camp-info>p {
    font-size: 18pt;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 50px 0px;
}

.camp-info>h1 {
    font-size: 22pt;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 50px 0px;
    color: #2974B2;
}

.camp-info>p {
    font-family: 'Bebas Neue', sans-serif;
}

.camp-detail-container {
    background: rgba(225, 225, 225, 0.8);
    padding: 50px 50px;
    margin-top: 4rem;
    box-shadow: #000 0px 0px 10px
}

.camp-jumbotron {
    background: #212529f0;
    border-radius: unset;
    padding: 2rem !important;
}