{% extends 'base.html' %} {% block body %} {% load static %}

<style>
    body {
        background-image: url(/static/dream_app/images/white_hoop.jpg);
        background-size: cover;
        background-position: center;
    }

    #myFooter {
        padding-top: 9px;
    }
    @media screen and (max-width: 992px) {
        .camp-btn
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2
                style="margin-top:25px; font-family: 'Bebas Neue', sans-serif; text-align: center; font-size:48pt; color:#214F74; background: linear-gradient(-90deg, rgba(245,245,245,0.0),white, rgba(245,245,245,0.0)) margin: 52px;">
                {{title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 camp-pic">
            <img src="{% static 'dream_app/images/4.jpg' %}" class="camp-img img-fluid" width="1080px" alt="Responsive image">
        </div>
    </div>
</div>

<div class="container ">

    {% for camp in camps %}
    <div class="jumbotron camp-list camp-jumbotron">
        <h1 class="display-4" style="text-align: center">{{camp.title}}</h1>&nbsp;<h3 style="#fff">{{camp.date}} - {{camp.time}}</h3>
        <p class="lead" style="color: #fff">{{camp.info}}</p>
        <hr class="my-4">
        <p style="color: #fff>"{{camp.info_detail}}</p>
        <a class="btn btn-primary btn-lg camp-btn" href="{% url 'camp_detail' id=camp.id %}" role="button">Learn more</a>
    </div>
    {% endfor %}


    <!-- <div class="row">
            <div class="col-sm-12 shop">
                <div class="row">
                    <div class="col-md-12">
                        <p id="cs" style="font-family: 'Bebas Neue', sans-serif; letter-spacing: 5px;">Coming Soon!</p>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="row">
            <div class="col-sm-12" style="background-color:rgba(225,225,225,0.3);">
                <img src="{% static 'dream_app/images/logo2.png' %}" style="padding:25px 0px 25px 0px; z-index: -1 ; display: block; margin-left: auto;margin-right: auto; margin-top: 10px"
                    width="40px" alt="">
            </div>
        </div> -->
</div>




{% endblock %}