{% extends 'base.html' %} {% block body %} {% load static %}

<style>
    body {
        background-image: url(/static/dream_app/images/white_hoop.jpg);
        background-size: cover;
        background-position: center;
        /* overflow-x: hidden; */
    }

    #myFooter {
        padding-top: 9px;
    }
</style>



<div class="container camp-detail-container">
    <div class="row">
        <div class="col-sm-12">
            <h2
                style="margin-top:25px; font-family: 'Bebas Neue', sans-serif; text-align: center; font-size:48pt; color:#214F74; background: linear-gradient(-90deg, rgba(245,245,245,0.0),white, rgba(245,245,245,0.0)) margin: 52px;">
                {{camp.title}} <br><hr>
                <span class="camp-date" style="color:#2974B2;;"></span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 camp-event">
            <p>{{camp.page_intro}}</p>
        </div>
        <div class="col-sm-6 camp-detail">
            <img class="" src="{{camp.image.url}}" alt="">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
            <br>
            <hr>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 camp-info">
            <h1>Camp Details</h1>
            {{camp.details|safe}}
        </div>
    </div>
  

    <div class="row">
        <div class="col-sm-12 price">
            <h3>${{camp.price}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <!-- <a class="btn btn-primary btn-lg camp-btn" style="margin: 0 auto; display: block; width: 150px;" href=""role="button">Register</a> --> 
            <!-- <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LD395JK8KWTXW">
                <input style="height: 2.5em" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form> -->
            {{camp.paypal_link|safe}}
        </div>

    </div>
</div>




{% endblock %}

