{% extends 'base.html' %} {% block body %} {% load static %}
<style>
    body {
        background-image: url(/static/dream_app/images/white_hoop.jpg);
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
    }

    footer {
        bottom: 0px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12" id="founder-title">
            Founders of the Harlem Dreams
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-12 founder">
            <div class="founder-pic">
                <img class="pic-size img-responsive" src="{%static 'dream_app/images/rayk.png'%}" alt="">
            </div>
            <p class="founder-font">
                <span class="founder-bold" ">Ray K. Morris</span>&nbsp;
                Co-Founder/Chairman a native of East Chicago, is an Entrepreneur, Producer, Philanthropist, Investor Mentor, Sports franchise owner with an extensive background in entertainment. 
                <br>
                <br>
                
                As Partner Co-Chairman of Mathis & Morris Productions, their produced productions have been seen on all platforms worldwide from Television, Music, Film, Video On Demand and DVD. He began his career as a law clerk in a large corporate law firm over thirty years ago in Los Angeles. That position afforded him invaluable exposure to the inner workings and mechanics of the business of the entertainment film, music, and television business, as he dealt with everything from studios, financing, negotiating, contracts, to performers themselves.
                <br>
                <br>
                &emsp;&emsp;Mr. Morris is former CEO of Sirrom Entertainment, a Business Management & Sports Firm. He managed and mentored,  artists and professional athletes throughout the world; mainly basketball players from the NBA and Internationally in over fifty countries. He is a former four-sport athlete. 
                <br>
                <br>
                &emsp;&emsp;Ray worked with the nonprofit organization Living Literature / Colors United, which was an after-school performing and visual arts program taught to inner-city youths. The documentary Colors Straight Up, which chronicled the work of the organization, was nominated in 1997 for an Oscar®, a Directors Guild of America (DGA) Award, and an Independent Spirit Award. The film won at the New York Film Festival, the San Francisco International Film Festival and received the National Educational Media Network USA Award, CINE Competition Golden Eagle award. He produced the short film, The Three Man March. The film received rave reviews at film festivals The Hampton's International Film Festival, The Sarasota Film Festival, Hollywood Black Film Festival, The Pan-African Film Festival, The Jamerican Film Festival, Harlem Film Festival, and Chicago Film Festival to name a few. 
            <br><br>
            &emsp;&emsp;Mr. Morris provides for many Food Banks nationwide, consults and sits on many boards. Served as a board member of the Watts Village Theater Company, W.V.T.C., which produced live theater throughout the Los Angeles area; its production The Last Outpost was an NAACP award nominee.
            <br><br> 
        </p>
             
        <p  class=" ray-quote">Walk where there is no path and leave a trail......</p>
        </div>

        <div class="sexy-line"></div>
    </div>
    <div class="row">
        <div class="col-md-12 founder">
            <div class="founder-pic">
                <img class="pic-size" src="{%static 'dream_app/images/left_founder.png'%}" alt="">
            </div>
            <p class="founder-font">
                <span class="founder-bold" style="font-size: 20pt;">Harold “Lefty”
                    Williams</span>&nbsp;&nbsp;&nbsp;Harlem
                Dreams Showman Funnyman, Co-Founder/President a native of Jersey City,
                New Jersey. Lefty is a former showman had one of his most defining moments when he was asked to join
                the
                World
                Famous Harlem Globetrotters!&nbsp; He made Globetrotter history by becoming the first left handed
                showman to
                sign
                with the team.
                <br><br>
                &emsp;After his departure from the Globetrotters, the world’s largest sports network ESPN
                called his trade “from the losingest team of all time to the winningest team of all time. A deal
                straight
                out
                of Ripley’s Believe it or Not, ”The article by Tom Friend", gave the world a glimpse of the story
                about
                the man that is Harold “Lefty” Williams.
                <br><br>
                &emsp;Lefty, a former College basketball two time defensive player of the year, travels the country
                exhibiting
                and teaching outstanding ball handling trick techniques and various ball handling drills. He has
                traveled to
                over 30 countries around the world as a professional basketball player, as
                well as a showman. Lefty is a Celebrity Ambassador for the Dave Thomas Foundation for Adoption. He
                also
                partnered with Mazu, a digital social media platform based on core values and family-friend content.
                The
                pair
                have
                created the Dare 2 Dream App, that is family- friendly, positive and appropriate for kids.
                <br><br>
                &emsp;Lefty is the founder of the Dare 2 Dream foundation. The Dare 2 Dream foundation is about
                equipping
                the
                youth with the tools
                necessary to not only hold onto their dreams, but to actively move forward in reaching them. Dare 2
                Dream
                helps
                in
                creating a stronger body of youth who will carry on as our future leaders! Lefty wants the youth to
                know
                that his ceiling of achievements as a professional basketball player will be the floor on which they
                willstand in plat forming their own achievements. Many of the topics on which are touched include:
                substance
                and alcohol abuse, child abuse, HIV/AIDS, abstinence, setting and achieving goals, peer education
                and
                mentorship, higher education, and healthy lifestyles among many other topics, the focus as he speaks
                to
                the
                youth is
                to bring into focus the keys to overcoming challenges that are relevant in their lives.
                <!-- <img class="#" src="{% static 'dream_app/images/logo2.png' %}" style="z-index: -1 ; display: block; margin-left: auto; margin-right: auto; margin-top: 40px"
                width="40px" alt=""> -->

            </p>
            <p class="ray-quote">Success for me was failure turned inside out. yes I was scared, yes I had to take
                risk,
                but
                God
                was with
                me every step of the way. Im so thankful I didn't allow FEAR to give me a life sentence called
                doubt.
            </p>
        </div>
    </div>


    <div class="row">
        <img class="d-none d-sm-block img-responsive" src="{% static 'dream_app/images/logo2.png' %}"
            style="z-index: -1 ; display: block; margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px"
            width="100px" height="100px" alt="">
    </div>

</div>


{% endblock %}