{% extends 'base.html' %} {% block body %} {% load static %}


<style>
    body {
        background-image: url(/static/dream_app/images/white_hoop.jpg);
        background-size: cover;
        background-position: center;
        /* overflow-x: hidden;
        overflow-y: hidden */
        /* background: white; */

    }

    footer {
        /* bottom: 0px; */
        bottom: -85px;
        /* height: 60px; */
        position: unset;
        width: 100%;
        margin-top: 1px;
    }

    #myFooter {
        padding-top: 25px;
    }
</style>
<!-- MyList Styles -->
<link href="mylist-gallery/css/mylist-player.css" rel="stylesheet">

<!-- MyList Gallery Settings -->


<!-- jQuery -->
<!-- The MyList Video Gallery requires jQuery -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

<!-- MyList Javascript -->
<!-- <script src=" {% static 'dream_app/mylist-player/js/mylist-player.js' %} " defer></script> -->


<div class="container">
    <div class="row">
        <div id="player-container1" class="col-sm-12 player-container">
            <!-- THE YOUTUBE PLAYER -->
            <div class="mlvp-close"><img src="mylist-gallery/fonts/mlvp-close.svg" onClick="hide_mlvp();"></div>
            <div id="vid_frame"></div>
        </div>
    </div>
    <!-- LEFT AND RIGHT ARROWS -->
    <div class="row">
            <div class="mlvp-arrows col-sm-12">
                <div class="mlvp-arrow-left"><i class="demo-icon icon-left-open">&#xe800;</i></div>
                <div class="mlvp-arrow-right"><i class="demo-icon icon-right-open">&#xe801;</i></div>
            </div>
    </div>
    <!-- THE PLAYLIST -->
    <div class="row">
        <div class="mlvp-list-container col-sm-12">
            <div class="mlvp-list noselect"></div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- MyList Javascript -->

<script src="{% static 'dream_app//mylist-gallery/js/mylist-player.js" defer></script>




<script type="text/javascript">
    // include a youtube playlist id for each playlist,
    // place quotation marks around each and seperate by commas.
    var playListID = [
        "PL-MTYBxzdvN_suEazShpyBdqPRAhGoIdH",
    ];
    var apiKey = "AIzaSyDNzduuGUhutU92Ye5aH0CGOjd5t3H4U_k";
    var autoPlayNext = 1;
    var showPlayerControls = 1;
    var showTitlesInList = 1;
</script>

{% endblock %}